*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    list-style: none;
}
body{
    background-color: black !important;
}
header{
    border-bottom: 1px solid rgb(42, 42, 42);
}
header nav{
    background-color: rgb(95, 95, 95);
    padding: 1rem 0 !important;
    position: relative;
}
header nav img{
    width: 10rem;
}
header form{
    margin: 1.5rem 0;
}
header form select ,header form input{
    width: 48%;
}
header form input{
    margin-left: 2%;
}
main .card , #fav .card{
    margin: 1rem;
    padding: 1rem;
}
main .card img , #fav .card img{
    width: 15rem;
    margin-bottom: 1rem;
}
main .card .card_bottom , #fav .card .card_bottom{
    margin-top: 1rem;
}
main .card .card_bottom img , #fav .card .card_bottom img {
    width: 2rem;
    cursor: pointer;
    margin: 0;
}
main .card .card_bottom button , #fav .card .card_bottom button{
    background-color: black;
    color: white;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
}
.p-con{
    display: flex;
    justify-content: space-between;
}
.p-con button {
    margin-left: .5rem;
    background-color: black;
    color: white;
    padding: 0rem .5rem 0.2rem;
    border: none;
    font-size: 1.3rem;
}